# Datatypes in Python

Number

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number.for examples 9.8 and 4.6667 are exaples of floating point number.

In [1]:
#Addition
3+2

5

In [2]:
#subtraction
4-2

2

In [3]:
#multiplication 
5*6

30

In [4]:
#division
6/3

2.0

In [5]:
#floor division
6//3

2

In [7]:
#modulo
7%4

3

In [8]:
#power
2**7

128

In [9]:
#roots
49**0.5

7.0

VARIABLES

Rules for variable names:

names can not start with a number
names can not contain spaces, use _ intead
names can not contain any of these symbols::'",<>/?|\!@#%^&*~-+
avoid using Python built-in keywords like list and str
avoid using the single characters l (lowercase letter el), O (uppercase letter oh) and I (uppercase letter eye) as they can be confused with 1 and 0

Dynamic Typing
Python uses dynamic typing, meaning you can reassign variables to different data types. 
This makes Python very flexible in assigning data types; it differs from other languages that are statically typed.

In [10]:
cat= 3

In [11]:
cat

3

In [12]:
cat=["white cats","fluffy cats"]

In [13]:
cat

['white cats', 'fluffy cats']

In [14]:
a=5

In [15]:
a=10

In [16]:
a=a+10

In [17]:
a+=10

In [18]:
a

30

In [19]:
a*=2

In [20]:
a

60

In [21]:
x=5
y=4

In [22]:
z=x-y

In [23]:
z

1

STRINGS

Strings are used in Python to record text information, such as names. Strings in Python are actually a sequence, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order.

In [25]:
'hello world'

'hello world'

In [26]:
"hello world"

'hello world'

In [27]:
'I'm hungry'

SyntaxError: invalid syntax (<ipython-input-27-9259bfd66ec7>, line 1)

In [28]:
"I'm hungry"

"I'm hungry"

In [29]:
"hellooo"
"hiiiiii"

'hiiiiii'

multiple string cannot be print like this.use print()

In [30]:
print("hellooooo")
print("hiiiiiiii")

hellooooo
hiiiiiiii

In [31]:
len("abcdefghij")

10

In [32]:
a="Hello world"

In [33]:
a[0]

'H'

In [34]:
a[5]

' '

In [35]:
a[-1]

'd'

In [36]:
a[:5]

'Hello'

In [37]:
a[3:8]

'lo wo'

In [38]:
a[:-1]

'Hello worl'

In [39]:
a[::2]

'Hlowrd'

In [40]:
a[::-1]

'dlrow olleH'

It's important to note that strings have an important property known as immutability. This means that once a string is created, the elements within it can not be changed or replaced

In [43]:
#let's change the 1 element of string
a[0]='B'

TypeError: 'str' object does not support item assignment

In [44]:

# Concatenate strings!
a + ' concatenate me!'

'Hello world concatenate me!'

In [45]:
#use the multiplication symbol to create repetition
b ='z'

In [46]:
b*10

'zzzzzzzzzz'

In [47]:
# Upper Case a string
a.upper()

'HELLO WORLD'

In [48]:
#Lower case a string
a.lower()

'hello world'

In [49]:
#Split string by blank space
a.split()

['Hello', 'world']

In [53]:
# Split by a specific element 
a.split('l')

['He', '', 'o wor', 'd']

STRING FORMATTING


Formatting with the .format() method
A better way to format objects into your strings for print statements is with the string .format() method. The syntax is:

'String here {} then also {}'.format('something1','something2')

In [54]:
print('This is a string with an {}'.format('insert'))

This is a string with an insert

In [55]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [56]:
print('A {p} saved is a {p} earned.'.format(p='penny'))

A penny saved is a penny earned.

In [59]:
print('{0:8} | {1:9}'.format('Flower', 'Quantity'))
print('{0:8} | {1:9}'.format('rose', 3.))
print('{0:8} | {1:9}'.format('LILY', 10))

Flower   | Quantity
rose     |       3.0
LILY     |        10

In [60]:
print('This is my ten-character, two-decimal number:{0:10.2f}'.format(13.579))

This is my ten-character, two-decimal number:     13.58

LISTS

 Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

Lists are constructed with brackets [] and commas separating every element in the list.
lists are able to hold different object types

In [61]:
my_list=[1,2,3,4]

In [62]:
#using different object types
my_list = [1,"hey",4.6,22]

In [64]:
my_list

[1, 'hey', 4.6, 22]

Indexing and slicing work just like in strings.

In [65]:
list = ["one",2,"three",4,"five"]

In [66]:
list[0]

'one'

In [67]:
list[:3]

['one', 2, 'three']

In [68]:
list[::2]

['one', 'three', 'five']

In [69]:
#adding new element
list + [6]

['one', 2, 'three', 4, 'five', 6]

In [70]:
list

['one', 2, 'three', 4, 'five']

In [71]:
list=list+["seven"]

In [72]:
list

['one', 2, 'three', 4, 'five', 'seven']

In [73]:
list*2

['one', 2, 'three', 4, 'five', 'seven', 'one', 2, 'three', 4, 'five', 'seven']

Use the append method to permanently add an item to the end of a list:

In [74]:
list.append(6)

In [75]:
list

['one', 2, 'three', 4, 'five', 'seven', 6]

Use pop to "pop off" an item from the list.

In [76]:
list.pop()

6

In [77]:
list.pop(3)

4

In [78]:
list

['one', 2, 'three', 'five', 'seven']

In [79]:
#make new list
a=[1,5,6,2,3,4]

In [80]:
#use .reverse() to reverse the list
a.reverse()

In [81]:
a

[4, 3, 2, 6, 5, 1]

In [82]:
#use .sort() to sort the list in ascending order.
a.sort()

In [83]:
a

[1, 2, 3, 4, 5, 6]

In [86]:
#let's make three list
m=[1,2,3]
n=[5,6,7]
p=[7,8,9]

In [87]:
#creating the nested list
o=[m,n,p]

In [88]:
o

[[1, 2, 3], [5, 6, 7], [7, 8, 9]]

DICTIONARIES

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.

In [4]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [5]:
# Call values by their key
my_dict['key2']

'value2'

Dictionaries are very flexible in the data types they can hold.

In [7]:
dic = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [8]:
dic["key3"]

['item0', 'item1', 'item2']

In [9]:
dic["key3"][1]

'item1'

In [10]:
#we can even call method on value
dic["key3"][1].upper()

'ITEM1'

In [12]:
#we can perform addition , subtraction on that value
dic["key1"]-123

0

In [15]:
#dictionary can be mutable
dic["key2"]=[12,23,33,43,53]

In [16]:
dic

{'key1': 123,
 'key2': [12, 23, 33, 43, 53],
 'key3': ['item0', 'item1', 'item2']}

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [17]:
# Create a new dictionary
d = {}

In [18]:
d['cat']=1

In [19]:
d['dog']=2

In [20]:
d

{'cat': 1, 'dog': 2}

In [21]:
# Method to return a list of all keys 
d.keys()

dict_keys(['cat', 'dog'])

In [22]:
#method to return a list of all values
d.values()

dict_values([1, 2])

In [24]:
#method to return tuples of all item
d.items()

dict_items([('cat', 1), ('dog', 2)])

TUPLES

In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed.

In [27]:
#create tuple
t=(1,2,3,4,5)

In [28]:
#use len() to check the length of tuple
len(t)

5

In [29]:
t=("six",7,"eight",9,"ten")

In [30]:
#use indexing same as list
t[1]

7

In [31]:
# Use .index to enter a value and return the index
t.index("six")

0

In [32]:
# Use .count to count the number of times a value appears
t.count('eight')

1

In [34]:
#tuples are immutable
t.append(11)

AttributeError: 'tuple' object has no attribute 'append'

In [36]:
t.pop(9)

AttributeError: 'tuple' object has no attribute 'pop'

In [37]:
t[0]="one"

TypeError: 'tuple' object does not support item assignment

SETS

Sets are an unordered collection of unique elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [38]:
n = set()

In [39]:
n.add(1)

In [40]:
n.add(2)

In [41]:
n

{1, 2}

In [44]:
#try to add same element
n.add(1)

In [45]:
n

{1, 2}

In [46]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [47]:
set(list1)

{1, 2, 3, 4, 5, 6}